.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 50rem;
    width: 85%;
    height: 2rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: 4px 3px 4px -1px black;
    z-index: 100;
    font-size: 1.2rem;
    position: fixed;
}


@media (min-height: 700px) and (max-height: 800px) {
   .footer{
    top: 40rem;
   
   }
}


 @media screen and (min-height: 820px) and (max-height: 1100px) {
    .footer{
   
        top: 50rem;
       
       }


}



@media screen and (min-height: 1120px) and (max-height: 2000px) and (min-width: 1020px) {
    .footer{
      top: 60rem;
    }

}


@media screen and (min-height: 720px) and (max-height: 2000px) and (min-width: 720px) {

    .footer{
        top: 90rem;
      }

}