.write-box-container-open {
    visibility: visible;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: rgba(128, 128, 128, 0.492);
    position: fixed;
    width: 100%;
    z-index: 1000;
    opacity: 1;
    transition: 0.5s ease-in-out;
}

.write-box-container {
    position: fixed;
    visibility: hidden;
    opacity: 0;
}


.message-box {

    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    width: 250px;
    min-height: 200px;
    max-height: fit-content;
    background-color: white;
    border-radius: 10px;
    transition: 1s ease-in-out;
}

.write-message {
    font-size: 2.3rem;
}

.form-message {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.send-message {
    background-color: rgb(152, 238, 130);
    width: 60%;
    text-align: center;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.7rem;
    transition: 1s ease-in-out;
}

.send-message:hover {
    cursor: pointer;
    background-color: rgb(117, 183, 100);
}

.error-create-message {
    font-size: 1.5rem;
    margin-top: 10px;
    color: red;
    text-align: center;
}

.sucess-message {
    font-size: 1.8rem;
    margin-top: 10px;
    color: rgb(107, 248, 112);
    text-align: center;
}

textarea {
    resize: none;
}

#textarea-write-post {
    font-size: 1.9rem;
    height: 100px;
    width: 170px;
    padding: 10px;
}