.write-box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: rgba(128, 128, 128, 0.492);
}


.message-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    width: 200px;
    height: 200px;
    background-color: white;
}

.write-message{
    font-size: 1.7rem;
}